


<section class="hero is-danger is-fullheight">
  <div class="hero-body">
    <div class="container">
    <h1 class="title has-text-white has-text-centered is-1">
 Welcome <%= @user.name %>
      </h1>
      <h1 class="title has-text-white has-text-centered">
        We missed you! <span> <i class="fas fa-heart"></i></span>
      </h1>
    </div>
  </div>
</section>