/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import 'bulma'; 

  $charcoal: #454851;
 $turquoise-green: #95d7ae;
 $darksea-green: #7BAE7F;
 $russian-green: #73956F;
 $lavender-blush: #FCEFF9;
 
 @mixin charcoal-form {
     background-color: $charcoal;
     opacity: 0.8;
    
 }

h1 {
    font-size: 100px;
}
 h2 {
    font-size: 70px;
}

 a {
    padding-bottom: 10px;
    color:  #454851;
}
.header {
    background-color:#95d7ae;
}

.icons {
    color:  #454851;
    width: 60px;
    height: 60px;
}
body, html {
   background-color: #FCEFF9;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
}
#drawer {
    background-color: #FCEFF9;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 0;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
 
        .icon-close {
           width: 60px;
           height: 60px;  

       
   }

.categories-container {
   width: 70%;
   height: 70%;
   display: flex;
   flex-direction: column;
}
   .dr-categories {
       margin-top: 10px;
       height: max-content;
       display:flex;
       flex-direction: column;
   }
       .header-item {
           box-shadow: 10px 10px ;
           border-radius: 25px;
           display: flex;
           margin-bottom:75px;
           justify-content: center;
           width: 100%;
           background-color: #7BAE7F;
           border: 1px solid #FCEFF9;
       }


#container {
    height: 100%;
    width: 100%;
   transition: margin-right .5s;
}

/*si vas a borrar algo sera a partir de aqui, que empecé a hacer mis desmadres*/


.total-records-container{
   font-family: 'Roboto', sans-serif;
    width: 95%;
    height: 100%;
   flex-direction: column;
   justify-content: space-around;
   color:#454851;
}

 .item-total-record{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 60%;
     height: 91%;
    box-shadow: 20px 20px;
     background-color: #95d7ae;
     border-radius: 10px;
}
.total-container {
    align-items: center;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;

}

  .item-records-history{
    margin-top: 20px;
    display: grid;
    text-align: center;
    font-size: 38px;
    row-gap: 50px;
    grid-template-rows: 60% 10% 20%;
    grid-template-areas:"item-image"
                        "item-records"
                        "item-button";
}


.item-image{
    grid-area: item-image;
    width: 100%;
    max-height: 100%;
    height: 100%;
    border-top: $russian-green 1px solid;
    padding-top: 30px;
}

.item-records {
    display: grid;
    grid-area: item-records;
}
.record-info-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "item-record-name item-time-spent item-created-at";
    column-gap: 10px;
}

.group-info-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-areas: "item-record-name item-created-at";
    column-gap: 20px;
}

.item-record-name{
    grid-area: item-record-name;
    border: 4px solid #73956F;
    border-radius: 10px;
   }

.item-time-spent{
    grid-area:item-time-spent ;
    border: 4px solid #73956F;
    border-radius: 10px;

}

.item-created-at{
    grid-area:item-created-at;
    border: 4px solid #73956F;
    border-radius: 10px;


   }
   
   .item-button-container {
       display: flex;
       grid-area: item-button;
       width: 100%;
       justify-content: center;
   }

.item-button-view{
    margin: 25px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #95d7ae;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px;
    font-size: 20px;
}

.item-form-new-record{
    border-top: 11px dotted #73956F ;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    font-size: 20px;

}

// Records show page 

.show-page-container{
    font-family: 'Roboto', sans-serif;
     width: 100%;
     height: 100%;
    color:#454851;
    display: grid;
    grid-template-rows: 50% 15% 10%;
    grid-template-areas:"image"
                        "record-name"
                        "buttons";
    row-gap: 10px;
}

.image-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.image{
    margin: 60px;
    grid-area: image;
    border: $charcoal dashed 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-photo{
    width: 70%;
    display: flex;
    min-width: 200px;
    min-height: 200px;
    height: 70%;
    border: #7BAE7F 10px dashed;
}

.record-name{
    grid-area: record-name;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-name-button{
    width: 80%;
    height: 70%;
    background-color:#7BAE7F ;
    box-shadow: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.buttons{
    grid-area: buttons;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "edit destroy back";
    column-gap: 5px;
    font-size: 70px;
    a {
        color: #FCEFF9;
    }
}

.edit{
    grid-area: edit;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#454851;

}

.destroy{
    grid-area: destroy;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#454851;


}

.back{
    grid-area: back;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#454851;

}

// Form

.has-background-turquoise {
    background-color: $turquoise-green;
}
.has-background-charcoal {
    @include charcoal-form();
    .has-text-lavanda {
        color: $lavender-blush;
    }
    .has-text-charcoal {
        color: $charcoal;
    }
    input[type=radio],
    input[type=checkbox] {
        transform: scale(2.5);
        margin: 0 8px;
    }
}